 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/3-Splatoon_2024-05-05_23-50-27.png');
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Splatfont;
  font-weight: 700;
  margin: 162px 379px 0 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Splatfont;
  font-size: 1.875rem;
  margin: 9px 245px 60px 56px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 101px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 99px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 87px;
    margin-right: -50px;
    margin-left: -22px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 25px;
    margin-left: -22px;
    margin-right: -22px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 381px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 281px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 9px 26px;
}

.u-section-2 .u-text-1 {
  line-height: 1.4;
  font-weight: 700;
  font-family: Splatfont;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 281px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
  min-height: 556px;
}

.u-section-3 .u-gallery-1 {
  height: 363px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-1 {
  object-position: 50% 100%;
  width: 396px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-2 {
  width: 396px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-3 {
  width: 396px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-4 {
  width: 396px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-5 {
  object-position: 50% 100%;
  width: 396px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-shape-1 {
  height: 15px;
  margin-top: 49px;
  margin-bottom: 60px;
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('images/3-Splatoon_2024-05-08_00-42-37.png');
}

.u-section-4 .u-sheet-1 {
  min-height: 573px;
}

.u-section-4 .u-text-1 {
  font-size: 5rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Splatfont;
  font-weight: 700;
  text-shadow: -2px 0px 15px rgba(0,0,0,1);
  margin: 56px 898px 60px 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 53px;
    margin-right: -64px;
    margin-left: -31px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 161px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 146px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 50px;
    margin-left: -25px;
    margin-right: -25px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 225px;
}

.u-section-5 .u-text-1 {
  font-size: 3.125rem;
  text-transform: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Splatfont;
  font-weight: 700;
  margin: 21px 0 0 calc(((100% - 1920px) / 2));
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin: 12px auto 56px calc(((100% - 1920px) / 2)  + 56px);
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 56px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 56px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 56px);
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 397px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-text-2 {
    width: 321px;
    margin-top: 21px;
    margin-left: auto;
    margin-bottom: 47px;
  }
} .u-section-6 {
  background-image: none;
  min-height: 1226px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1803px;
  margin: 33px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 525px;
  background-image: none;
  --radius: 50px;
}

.u-section-6 .u-container-layout-1 {
  border-style: solid;
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-family: Splatfont;
  font-size: 1.875rem;
  transition-duration: 0.5s;
  text-shadow: -2px 2px 8px rgba(0,0,0,1);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 174px 42px 0;
}

.u-section-6 .u-image-1 {
  min-height: 525px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --effect-scale: 1.25;
  background-image: url("images/Splatoon_3_2024-05-01_14-35-13.png");
  --radius: 50px;
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-6 .u-image-2 {
  min-height: 525px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/My_Great_Capture_Screenshot_2024-05-07_16-44-49.png");
  --radius: 50px;
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 24px 30px 30px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 525px;
  background-image: none;
  --radius: 50px;
}

.u-section-6 .u-container-layout-4 {
  padding: 21px 0;
}

.u-section-6 .u-text-2 {
  font-family: Splatfont;
  font-size: 1.875rem;
  transition-duration: 0.5s;
  text-shadow: -2px 2px 8px rgba(0,0,0,1);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 190px 23px 0 49px;
}

.u-section-6 .u-text-3 {
  font-size: 1.875rem;
  transition-duration: 0.5s;
  width: 810px;
  margin: 32px auto 0;
}

.u-section-6 .u-shape-1 {
  height: 15px;
  margin-top: 32px;
  margin-bottom: 33px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 221px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 274px;
  }

  .u-section-6 .u-image-2 {
    min-height: 274px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 274px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    min-height: 210px;
  }

  .u-section-6 .u-image-2 {
    min-height: 210px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1043px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 326px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 305px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.25rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 575px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 233px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-6 .u-image-1 {
    min-height: 205px;
  }

  .u-section-6 .u-image-2 {
    min-height: 192px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 328px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 111px;
    padding-bottom: 111px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: -12px;
    margin-left: 8px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.875rem;
    width: 340px;
  }
}

.u-block-18bd-13:not([data-block-selected]):not([data-cell-selected]),
.u-block-18bd-13:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-18bd-13:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-18bd-13:not([data-block-selected]):not([data-cell-selected]).u-block-18bd-13:not([data-block-selected]):not([data-cell-selected]).u-block-18bd-13:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}

.u-block-18bd-13:not([data-block-selected]):not([data-cell-selected]).u-block-18bd-13:not([data-block-selected]):not([data-cell-selected]).u-block-18bd-13:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-text-3,
.u-section-6 .u-text-3:before,
.u-section-6 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-text-3.u-text-3.u-text-3:hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-text-3.u-text-3.u-text-3.hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-text-1,
.u-section-6 .u-text-1:before,
.u-section-6 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-text-2,
.u-section-6 .u-text-2:before,
.u-section-6 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.03) translateX(0px) translateY(0px) !important;
} .u-section-7 {
  background-image: none;
  min-height: 472px;
}

.u-section-7 .u-accordion-1 {
  width: 1920px;
  margin: 11px auto 0;
}

.u-section-7 .u-accordion-link-1 {
  background-image: none;
  font-size: 2.25rem;
  --radius: 20px;
  font-weight: 700;
  font-family: Splatfont;
  padding: 25px 30px;
}

.u-section-7 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-7 .u-accordion-pane-1 {
  min-height: 86px;
  height: auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
}

.u-section-7 .u-accordion-link-2 {
  background-image: none;
  font-size: 2.25rem;
  --radius: 20px;
  font-weight: 700;
  font-family: Splatfont;
  padding: 25px 30px;
}

.u-section-7 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-7 .u-accordion-pane-2 {
  min-height: 86px;
  height: auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-7 .u-shape-1 {
  height: 15px;
  margin-top: 36px;
  margin-bottom: 11px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-accordion-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-accordion-1 {
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 288px;
}

.u-section-8 .u-list-1 {
  margin: 20px 0 17px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15.75px));
  min-height: 251px;
  grid-gap: 21px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
  padding: 6px;
}

.u-section-8 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px -20px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
  padding: 6px;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 20px -20px 0 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
  padding: 6px;
}

.u-section-8 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-8 .u-text-6 {
  margin: 20px -20px 0 0;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
  padding: 6px;
}

.u-section-8 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-8 .u-text-8 {
  margin: 20px -20px 0 0;
}

.u-section-8 .u-btn-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 119px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }

  .u-section-8 .u-text-6 {
    margin-right: 0;
  }

  .u-section-8 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}@font-face {
  font-family: 'Splatfont';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Splatfont.ttf);
}